<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"  />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:requestLegacyExternalStorage="true"
        android:name="com.example.fishlogger.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FishLogger"
        tools:targetApi="33">
        <activity
            android:name=".AddFishActivity"
            android:label="Add new fish"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <!--meta-data -definitions do the same thing that 'android:parentActivityName' does
            it's just not supported in API levels lower than 16-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fishlogger.MainActivity" />
        </activity>
        <activity
            android:name=".FishListActivity"
            android:label="List of fish"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <!--meta-data -definitions do the same thing that 'android:parentActivityName' does
            it's just not supported in API levels lower than 16-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fishlogger.MainActivity" />
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="Camera"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <!--meta-data -definitions do the same thing that 'android:parentActivityName' does
            it's just not supported in API levels lower than 16-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fishlogger.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>